###############################################################################
#
# COMMON GROUPS, COMMANDS & CONTACT DEFINITIONS FOR OTM_REPOSITORIES
#
###############################################################################

define contact {
    contact_name            otmadmin
    use                     generic-contact
    alias                   OTM Administrator
    email                   {{otm_admin_email}}
}

define contactgroup {
    contactgroup_name       otmadmins
    alias                   OTM Administrators
    members                 otmadmin
}

define host {
    name                            otm-server              ; The name of this host template
    use                             generic-host            ; This template inherits other values from the generic-host template
    check_period                    24x7                    ; By default, Linux hosts are checked round the clock
    check_interval                  5                       ; Actively check the host every 5 minutes
    retry_interval                  1                       ; Schedule host check retries at 1 minute intervals
    max_check_attempts              10                      ; Check each Linux host 10 times (max)
    check_command                   check-host-alive        ; Default command to check Linux hosts
    notification_period             24x7                    ; Notify round the clock
    notification_interval           120                     ; Resend notifications every 2 hours
    notification_options            d,u,r                   ; Only send notifications for specific host states
    contact_groups                  otmadmins               ; Notifications get sent to the admins by default
    register                        0                       ; DON'T REGISTER THIS DEFINITION - ITS NOT A REAL HOST, JUST A TEMPLATE!
}

define hostgroup {
    hostgroup_name          otm-repositories        ; The name of the hostgroup
    alias                   OTM Repositories        ; Long name of the group
    members                 {{otm_group_members}}              ; Comma separated list of hosts that belong to this group
}

define service {
    name                            otm-service             ; The 'name' of this service template
    use                             generic-service
    max_check_attempts              4                       ; Re-check the service up to 4 times in order to determine its final (hard) state
    check_interval                  5                       ; Check the service every 5 minutes under normal conditions
    retry_interval                  1                       ; Re-check the service every minute until a hard state can be determined
    contact_groups                  otmadmins               ; Notifications get sent out to everyone in the 'otmadmins' group
    register                        0                       ; DON'T REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
}

define servicegroup {
    servicegroup_name  basic_vm_services
    alias              Basic VM Services
}

define servicegroup {
    servicegroup_name  repo_services
    alias              OTM Repository Services
}

define servicegroup {
    servicegroup_name  indexmgr_services
    alias              Indexing Manager Services
}

define servicegroup {
    servicegroup_name  indexagent_services
    alias              Indexing Agent Services
}

define command {
    command_name    check_remote_users
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_users -a '-w 5 -c 10'
}

define command {
    command_name    check_remote_load
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_load -a  '-r -w 3.5,3.0,3.0 -c 4.0,3.5,3.0'
}

define command {
    command_name    check_remote_swap
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_swap -a  '-w 20% -c 10%'
}

define command {
    command_name    check_remote_zombie_procs
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_zombie_procs -a '-w 5 -c 10 -s Z'
}

define command {
    command_name    check_remote_total_procs
    command_line    $USER1$/check_nrpe -H $HOSTADDRESS$ -c check_total_procs -a '-w 250 -c 300'
}

define command {
    command_name    check_otmrepo_available
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=OTMRepositoryStats -A RepositoryAvailable -c true
}

define command {
    command_name    check_svnrepo_available
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=OTMRepositoryStats -A SvnServiceAvailable -c true
}

define command {
    command_name    check_otmrepo_svnconfig
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=OTMRepositoryStats -A SvnUserConfigOk -c true
}

define command {
    command_name    check_otmrepo_cpu
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=OTMRepositoryStats -A CpuUtilization
}

define command {
    command_name    check_otmrepo_memory
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=OTMRepositoryStats -A MemoryUtilization -w 0.7 -c 0.9
}

define command {
    command_name    check_otmrepo_disk
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=OTMRepositoryStats -A RepositoryDataDiskUtilization -w 0.7 -c 0.9
}

define command {
    command_name    check_indexmgr_available
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingManagerStatsMBean -A Available -c true
}

define command {
    command_name    check_indexmgr_memory
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingManagerStatsMBean -A MemoryUtilization -w 0.7 -c 0.9
}

define command {
    command_name    check_indexmgr_lastagentstart
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingManagerStatsMBean -A MinutesSinceLastAgentStartup
}

define command {
    command_name    check_indexmgr_recentagentrestarts
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingManagerStatsMBean -A RecentAgentRestartCount -w 1 -c 3
}

define command {
    command_name    check_indexagent_available
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingAgentStatsMBean -A Available -c true
}

define command {
    command_name    check_indexagent_memory
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingAgentStatsMBean -A MemoryUtilization -w 0.7 -c 0.9
}

define command {
    command_name    check_indexagent_itemcount
    command_line    $USER1$/check_jmx -U service:jmx:rmi:///jndi/rmi://$HOSTADDRESS$:$ARG1$/jmxrmi -O org.opentravel.jmx:type=IndexingAgentStatsMBean -A LibraryIndexCount -o resetLibraryIndexCount
}

