###############################################################################
# {{item}}.cfg - CONFIG FILE FOR MONITORING A REMOTE OTM REPOSITORY
###############################################################################



###############################################################################
#
# HOST DEFINITION
#
###############################################################################

# Define a host for the OTM repository

define host {
    use                     otm-server
    host_name               {{item}}
    alias                   {{item}}
    address                 {{otm_repositories[item].hostname}}
}


###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM PING
    check_command           check_ping!100.0,20%!500.0,60%
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM SSH
    check_command           check_ssh
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM HTTP
    check_command           check_http
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM Current Users
    check_command           check_remote_users
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM Current Load
    check_command           check_remote_load
    servicegroups           basic_vm_services
    notifications_enabled   0
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM Swap Usage
    check_command           check_remote_swap
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM Zombie Processes
    check_command           check_remote_zombie_procs
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     VM Total Processes
    check_command           check_remote_total_procs
    servicegroups           basic_vm_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Repository Available
    check_command           check_otmrepo_available!11097
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     SVN Repository Available
    check_command           check_svnrepo_available!11097
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     SVN Configuration Ok
    check_command           check_otmrepo_svnconfig!11097
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Repository CPU Utilization
    check_command           check_otmrepo_cpu!11097
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Repository Memory Utilization
    check_command           check_otmrepo_memory!11097
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Repository Disk Utilization
    check_command           check_otmrepo_disk!11097
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Mgr Available
    check_command           check_indexmgr_available!11098
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Mgr Memory Utilization
    check_command           check_indexmgr_memory!11098
    servicegroups           indexmgr_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Mgr Last Agent Startup
    check_command           check_indexmgr_lastagentstart!11098
    servicegroups           indexmgr_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Mgr Recent Agent Restarts
    check_command           check_indexmgr_recentagentrestarts!11098
    servicegroups           indexmgr_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Agent Available
    check_command           check_indexagent_available!11099
    servicegroups           repo_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Agent Memory Utilization
    check_command           check_indexagent_memory!11099
    servicegroups           indexagent_services
}

define service {
    use                     otm-service
    host_name               {{item}}
    service_description     Index Agent Item Count
    check_command           check_indexagent_itemcount!11099
    servicegroups           indexagent_services
}
