[Unit]
Description=OTM Repository Indexing Service
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{indexsvc_dir}}/startup.sh
ExecStop={{indexsvc_dir}}/shutdown.sh
WorkingDirectory={{indexsvc_dir}}
User=root

[Install]
WantedBy=multi-user.target