<html>
<head>
	<title>OTM Model Comparison Report</title>
	<style>
#parse( "$TEMPLATE_FOLDER/diff-styles.vm" )
	</style>
</head>
<body>

<h1>OTM Comparison Report</h1>

<table class="headerTable">
	<tr>
		<td class="headerTableTh">Old Library Version:</td>
		<td class="headerTableTd">$formatter.getLibraryFilename( $changeSet.oldLibrary )</td>
	</tr><tr>
		<td class="headerTableTh">New Library Version:</td>
		<td class="headerTableTd">$formatter.getLibraryFilename( $changeSet.newLibrary )</td>
	</tr><tr>
		<td class="headerTableTh">Report Date/Time:</td>
		<td class="headerTableTd">$formatter.reportTimestamp()</td>
	</tr>
</table>

<h2>Library: $formatter.getLibraryDisplayName( $changeSet.newLibrary )</h2>
#set ( $libraryChangeSet = $changeSet )
#parse( "$TEMPLATE_FOLDER/library-diff-table.vm" )

#foreach ( $libraryChangeItem in $changeSet.libraryChangeItems )
#if ($libraryChangeItem.modifiedEntity)
#set ( $entityChangeSet = $libraryChangeItem.modifiedEntity )
<br><a name="$entityChangeSet.bookmarkId" />
<h3>Modified Entity: $formatter.getLocalDisplayName( $entityChangeSet.newEntity ) ($formatter.getLibraryDisplayName( $changeSet.newLibrary ))</h3>
#parse( "$TEMPLATE_FOLDER/entity-diff-table.vm" )

#end
#end

<p/><br/><p/><br/><p/><br/><p/><br/><p/><br/>
<p/><br/><p/><br/><p/><br/><p/><br/><p/><br/>
<p/><br/><p/><br/><p/><br/><p/><br/><p/><br/>
<p/><br/><p/><br/><p/><br/><p/><br/><p/><br/>

</body>
</html>
