#!/bin/bash
NAMESPACE="{{otmrepo_root_ns}}"
NSID_PATH=`echo $NAMESPACE | awk '{
  split($0,a,/:\/\//);
  printf "%s/", tolower( a[1] );
  split(a[2],b,"/");
  split(b[1],c,".");
  for ( i = length(c); i >= 1; i--) { printf "%s/", tolower( c[i] ) }
  for ( i = 2; i <= length(b); i++) { printf "%s/", tolower( b[i] ) }
}'`
mkdir -p {{uploads_dir}}/repo_tmp/$NSID_PATH
echo $NAMESPACE > {{uploads_dir}}/repo_tmp/$NSID_PATH/nsid.txt