LoadModule proxy_module {{modules_directory}}/mod_proxy.so
LoadModule proxy_http_module {{modules_directory}}/mod_proxy_http.so
LoadModule headers_module {{modules_directory}}/mod_headers.so

ProxyPreserveHost On
ProxyPass         /  http://localhost:{{tomcat_port}}/ nocanon
ProxyPassReverse  /  http://localhost:{{tomcat_port}}/
ProxyRequests     Off
AllowEncodedSlashes Off

<Proxy http://localhost:{{tomcat_port}}*>
  Header set Access-Control-Allow-Origin "*"
  Order deny,allow
  Allow from all
</Proxy>
