#!/bin/bash
#
# ota2-tomcat        Startup script for the OTM repository Tomcat server
#
### BEGIN INIT INFO
# Provides: ota2-tomcat
# Required-Start: $local_fs $remote_fs $network
# Required-Stop: $local_fs $remote_fs $network
# Short-Description: start and stop the ota2-tomcat
# Description: Application server for the OTM repository web service.
### END INIT INFO

# Source function library.
. /etc/rc.d/init.d/functions

if [ -f /etc/sysconfig/ota2-tomcat ]; then
        . /etc/sysconfig/ota2-tomcat
fi

prog=ota2-tomcat
[ -e /etc/sysconfig/$prog ] && . /etc/sysconfig/$prog

start() {
    echo -n $"Starting $prog"
    {{tomcat_dir}}/bin/startup.sh 2>&1 > /dev/null
    retval=$?
    echo
    return $retval
}

stop() {
    echo -n $"Stopping $prog"
    {{tomcat_dir}}/bin/shutdown.sh 2>&1 > /dev/null
    retval=$?
    echo
    return $retval
}

restart() {
    stop
    start
}

reload() {
    restart
}

force_reload() {
    restart
}

rh_status() {
    pslist=$( pgrep -f catalina.home 2>&1 )
    if [ -z "$pslist" ]; then
        echo Service ota2-tomcat is stopped
        retval=1
    else
        echo Service ota2-tomcat is running
        retval=0
    fi
    return $retval
}

case "$1" in
    start)
        $1
        ;;
    stop)
        $1
        ;;
    restart)
        $1
        ;;
    status)
        rh_status
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart}"
        exit 2
esac
exit $?
