[Unit]
Description=OTM Repository Tomcat Service
Requires=network.target
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{tomcat_dir}}/bin/startup.sh
ExecStop={{tomcat_dir}}/bin/shutdown.sh
WorkingDirectory={{tomcat_dir}}
User=root

[Install]
WantedBy=multi-user.target