				<tr style='height: 3.75pt'>
					<td
						style='border: solid #CCCCCC 1.0pt; border-top: none; background: white; padding: 0in 11.25pt 0in 12.0pt; height: 3.75pt; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px'>
						<p style='line-height: 3.75pt'>
							<span style='color: white'>&nbsp;</span>
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td style='padding: 12pt 15.0pt 12pt 15.0pt'>
			<table style='border-collapse: collapse;'>
				<tr>
					<td style='padding: 0in 0in 0in 0in'>
						<p style='line-height: 3.0pt;'>
							<span style='font-size: 5pt; font-family: "Arial", sans-serif; position: relative; top: -1.0pt;'>&nbsp;</span>
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>