<table style='width: 100.0%; background: whitesmoke; border-collapse: collapse;'>
	<tr>
		<td style='padding: 12pt 15.0pt 12pt 15.0pt'>
			<table style='border-collapse: collapse;'>
				<tr>
					<td style='padding: 0in 0in 0in 0in'>
						<p style='line-height: 3.0pt;'>
							<span style='font-size: 12pt; font-family: "Arial", sans-serif;color: #3B73AF; text-decoration: none; text-underline: none'>
							$utils.getActionMessage( $action, $repositoryName )
							</span>
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td style='padding: 0in 15.0pt 0in 15.0pt'>
			<table style='width: 100.0%; border-collapse: collapse; border-spacing: 0'>
				<tr style='height: 7.5pt'>
					<td style='border: solid #CCCCCC 1.0pt; border-bottom: none; background: white; padding: 0in 11.25pt 0in 12.0pt; height: 7.5pt; border-top-right-radius: 5px; border-top-left-radius: 5px'>
					</td>
				</tr>
