#parse( "org/opentravel/notification/templates/email_header.vm" )
<tr>
	<td style='border-top: none; border-left: solid #CCCCCC 1.0pt; border-bottom: none; border-right: solid #CCCCCC 1.0pt; background: white; padding: 3.75pt 11.25pt 3.75pt 12.0pt'>
		<table style='border-collapse: collapse'>
			<tr>
				<td valign=top style='padding: 1.5pt 0in 1.5pt 0in'>
					<p style='line-height: 15.0pt'><b><span style='font-size: 10.5pt; font-family: "Arial", sans-serif; color: #707070'>
					Published By:
					</span></b></p>
				</td>
				<td valign=top style='padding: 1.5pt 0in 1.5pt 3.75pt'>
					#parse( "org/opentravel/notification/templates/user_info.vm" )
				</td>
			</tr>
			#parse( "org/opentravel/notification/templates/library_info.vm" )
		</table>
	</td>
</tr>
#parse( "org/opentravel/notification/templates/email_footer.vm" )
